*{


.cor{ background-color: rgba(94, 4, 146, 0.452); }


.titulo{ color: rgb(154,47,255); text-align:center; }
.sub{ color:white; text-align:center; }


.perfil{
width: 60%; max-width: 250px;
border-radius: 50%;
box-shadow: 0 0 20px purple;
}


.texto-intro h4{
background: blueviolet;
padding: 10px;
color:white;
text-align:center;
}
.texto-intro p{ color:white; text-align:center; }


.skills-section{ text-align:center; margin-top:50px; }


.skills-box{
max-width: 500px;
margin: auto;
padding: 30px;
background-color: rgba(94,4,146,0.3);
border-radius: 20px;
box-shadow: 0 15px 30px blueviolet;
}


.skills-box ul{ list-style:none; }
.skills-box li{
margin: 20px 0;
color:white;
font-weight: bold;
}
.percent{ float:right; }


.linha{
background:#ccc;
display:block;
height:20px;
border-radius:20px;
overflow:hidden;
}
.linha span{
display:block;
height:100%;
background: linear-gradient(to right, rgba(94, 4, 146, 0.452),blueviolet);
}


.html{ width:80%; }
.css{ width:40%; }
.bootstrap{ width:60%; }


.projeto{
padding:40px;
background:blueviolet;
text-align:center;
border-radius:15px;
}
.projeto h5{ color:white; }
.projeto a{ color:white; text-decoration:none; }


footer{
background-color: rgba(94, 4, 146, 0.452);
color:white;
padding:40px;
text-align:center;
}


/* RESPONSIVIDADE */
@media (max-width:768px){
.perfil{ width: 80%; }
.skills-box{ width:90%; }
.texto-intro{ text-align:center; margin-top:20px; }
}
