*{
    margin: 0;
    padding: 0;
   box-sizing: 0;
}




nav{
    font-family: Arial;
}

.cor{
    background-color: rgba(94, 4, 146, 0.452);
}

.sk{
    text-align: center;
    color: rgb(154, 47, 255) ;
    font-family: verdana;
}



h4{
    text-align: center;
    color: white;
    background-color: blueviolet;
    font-family: verdana;
}

.tex{
    text-align: center;
    font-family: verdana;
    color: white;
    padding: 2rem;
}

h5{
    text-align: center;
    color: white;
    font-family: verdana;
}

p{
    text-align: center;
    color: white;
    font-family: verdana;
   cursor: pointer;
}


footer{
    background-color: rgba(94, 4, 146, 0.452);
    padding: 70px;
    margin-top: 70px;

}

a{
    text-decoration: none;
    color: white;
}

.ses{
    color: white;
    font-family: verdana;
}
.skills{
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(94, 4, 146, 0.452);
    margin-left: 28rem;
    box-shadow: 0 15px 30px blueviolet;

}
 .skills ul{
    list-style: none;

 }

 .skills ul li{
    margin: 20px 0;
    color: white;
    font-family: verdana;
 }

 .skills .linha{
    background-color: #ccc;
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .4s ease-in-out;
 }

 .linha > span{
        height: 20px ;
        background: linear-gradient(to right, rgba(94, 4, 146, 0.452),blueviolet);
        position: absolute;
      
 }

.html{
    width: 80%;
    animation: html 4s ;
}

.css{
    width: 40%;
    animation: css 4s ;
}

.bootstrap{
    width: 60%;
    animation: bootstrap 4s ;
}

@keyframes html {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

@keyframes css {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

@keyframes bootstrap {
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}

.nave ul {
    list-style: none;

}

.nave ul li {
    color: white;
    font-family: verdana;

}
